:root {
  /* violet */
  --primary-color: 99, 223, 255;
  
  /* white */
  --text-color: 249, 249, 249;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
}

.btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn-primary {
  background-color: rgb(var(--primary-color));
  border: 2px solid rgb(var(--primary-color));
  color: rgb(var(--text-color));
}

.btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn-primary {
  background-color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--primary-color));
  color: rgb(var(--text-color));
}

.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

/* https://sushi.com/ */
.btn-gradient-border {
  color: rgba(var(--text-color));
  border: 2px double transparent;
      background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

function clearFile(event) {
    event.preventDefault();
    $("#upfile").remove();
    $("#clearbtn")
        .before("<input type='file' id='upfile' name='upfile' />");
}